# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo

# ======================
# Virtualenv
# ======================
venv/
.env

# ======================
# Django
# ======================
db.sqlite3
staticfiles/
media/

# ======================
# Logs
# ======================
*.log

# ======================
# OS / Editor
# ======================
.DS_Store
.idea/
.vscode/
