{% extends "base.html" %}

{% block content %}
<h2>Editar alumno: {{ alumno.nombres }} {{ alumno.apellidos }}</h2>

<form method="POST">
    {% csrf_token %}

    <p><strong>Nombres:</strong> {{ alumno.nombres }}</p>
    <p><strong>Apellidos:</strong> {{ alumno.apellidos }}</p>
    {{ form.non_field_errors }}
    {{ form.telefono.errors }}

    {{ form.telefono.label_tag }}  
    {{ form.telefono }}

    {{ form.fecha_nacimiento.label_tag }}
    {{ form.fecha_nacimiento }}

    <button type="submit">Guardar cambios</button>
</form>

<br>
<a href="{% url 'lista_alumnos' %}">Volver a la lista</a>
{% endblock %}
