<!DOCTYPE html>
<html>
<head>
    <title>Inicio de sesión</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body { font-family: Arial; padding: 20px; max-width: 400px; margin: auto; }
        input { width: 100%; padding: 10px; margin: 10px 0; }
        button { width: 100%; padding: 10px; background: #555; color: white; border: none; }
    </style>
</head>
<body>
    <h2>Iniciar sesión</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Entrar</button>
    </form>
</body>
</html>
