{% extends "base.html" %}

{% block content %}

<h2>Menú principal</h2>

<div class="menu-buttons">

    <a class="btn-link" href="{% url 'registrar_alumno' %}">
        Registrar nuevo alumno
    </a>

    <a class="btn-link" href="{% url 'alumnos_proximos_vencer' %}">
        Alumnos próximos a vencer
    </a>

    <a class="btn-link" href="{% url 'lista_alumnos' %}">
        Mostrar todos los alumnos
    </a>

    <a class="btn-link" href="{% url 'alumnos_vencidos' %}">
        Alumnos vencidos
    </a>

    <a class="btn-link" href="{% url 'lista_renovar' %}">
        Renovar membresía
    </a>

    <a class="btn-link" href="{% url 'corte_caja' %}">
        Corte de caja
    </a>

    <a class="btn-link" href="{% url 'lista_productos' %}">
        Venta de productos
    </a>

    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="btn-logout">
            Cerrar sesión
        </button>
    </form>

</div>

{% endblock %}
